/* Styling */
// imports
@imports "normalize";
@imports "lightgallery";
@imports "lg-transitions";






body {
    background: yellow;
}


//portofolio items

figure {
text-align: center;
background: green;
    width: 300px;
    padding:1em ;
}

figure img {
    box-shadow: 2px 2px gray ;
    
}